.logo {
  margin-left: 50%;
}

.mainContainer {
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  & .ticketsContainer {
    display: flex;
    flex-direction: column;
  }
}
