.filters {
  display: flex;
  width: 502px;
  height: 50px;
  background: #ffffff;
  margin-bottom: 20px;
}

.button {
  cursor: pointer;
  border: 1px solid #dfe5ec;
  border-radius: 0%;
  width: 168px;
  height: 50px;
  padding: 15px;
  color: #4a4a4a;
  &.active {
    background: #2196f3;
  }
  &.left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  &.right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.text {
  color: #4a4a4a;
  width: 138px;
  height: 20px;
  left: 370px;
  top: 175px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  & .active {
    color: #ffffff;
  }
}
